<small>


  <ul class="row">
  </ul>

<div class="row">
      <a href="#">
        <img src="/assets/images/icon-mail.png" alt="Mail" width="25" height="25"></a>
     <a href="https://www.linkedin.com/in/colinganzevoort/" target="_blank">
       <img src="/assets/images/icon-linkedin.png" alt="LinkedIn" width="25" height="25"></a>
     <a href="https://twitter.com/colinowg/" target="_blank">
       <img src="/assets/images/icon-twitter.png" alt="Twitter" width="25" height="25"></a>
 </div>

  <!-- <a href="https://www.linkedin.com/in/colinganzevoort/" target="_blank">
    <img src="/assets/images/icon-linkedin.png" alt="LinkedIn" width="25" height="25"></a>

    <a href="https://www.linkedin.com/in/colinganzevoort/" target="_blank">
      <img src="/assets/images/icon-twitter.png" alt="LinkedIn" width="25" height="25"></a> -->

©
<script type="text/javascript">
  document.write(new Date().getFullYear());
</script>

Colin Ganzevoort

</small>
