---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}

      <!-- https://excessivelyadequate.com/posts/ert.html -->
      <center><small><small><small><span class="ert">
        Reading time:
        {% assign words_total = page.content | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
        {% assign words_without_code = page.content | replace: '<pre class="highlight">', '<!--' | replace: '</pre>', '-->' | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
        {% assign words_without_math = page.content | strip_html | number_of_words %}
        {% assign words_without_either = page.content | replace: '<pre class="highlight">', '<!--' | replace: '</pre>', '-->' | strip_html | number_of_words %}

        {% assign words_code = words_total | minus: words_without_code | divided_by: 2.0 %}
        {% assign words_math = words_total | minus: words_without_math | times: 2.0 %}
        {% assign words = words_without_either | plus: words_code | plus: words_math | round %}

        {% assign ert = words | divided_by:225 | at_least: 1 %}
        {{ ert }} minute{% if ert != 1 %}s{% endif %}
    </span></small></small></small></center>

    </h1>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

</article>
